.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.Desktop1440 {
    width: 1440px;
    height: 1024px;
    position: relative;
    background: #DAE4F0
}

.Card {
    width: 285px;
    height: 470px;
    left: 554px;
    top: 217px;
    position: absolute;
    background: white;
    border-radius: 15px;
    backdrop-filter: blur(4px)
}